<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style>
		.hide{ display: none; }
		#services img{  height: 44px;  }
	</style>
</head>
<body>
	<div id="main">
		<input type="text" id="date" />
		<input type="text" id="searchText" />
		<button id="search">search</button>
		<ul id="services"></ul>
		<div id="detail"></div>
		<div id="diet"></div>
	</div>
	<script type="text/template" id="item-service">
		<img src=<%=thumbnail%>>
		<span><%=item_name%></span>
		<span><%=nutrient_value%></span>
		<span><%=nutrient_uom%></span>
		<div class="addToDiet">+</div>
  	</script>
  	<script type="text/template" id="item-detail">
  		<ul>
		<% _.each(label.nutrients, function(nutrient) { %>
            <li><span><%=nutrient.name%></span><span><%=nutrient.usda_tag%></span></li>
        <% }) %>
        </ul>
  	</script>
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/underscore/underscore-min.js"></script>
	<script src="/backbone/backbone-min.js"></script>
	<script src="/backbone.localStorage/build/backbone.localStorage.min.js"></script>
	<script src="/scripts/models/food.js "></script>
	<script src="/scripts/models/foodRecord.js "></script>
	<script src="/scripts/views/food.js "></script>
	<script src="/scripts/views/foodRecord.js "></script>
	<script src="/scripts/collections/foods.js "></script>
	<script src="/scripts/collections/foodRecord.js "></script>
	<script src="/scripts/app.js "></script>
</body>
</html>